<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../../manager/css/manager.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../manager/jquery/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="../../manager/jquery/jquery-ui.theme.css">
    <link rel="stylesheet" type="text/css" href="../../manager/jquery/jquery-ui.theme.min.css">
    <script type="text/javascript" src="../../manager/jquery/jquery-3.4.1.js"></script>
	<script type="text/javascript" src="../../manager/jquery/jquery-ui.min.js"></script>
	<script type="text/javascript" src="../../manager/jquery/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<script src="../../manager/jquery/jquery-ui.js"></script>
	<script type="text/javascript" src="../../manager/jquery/manager.js"></script>
</head>
<body>

	<header>
        <div id="nav" class="nav">
            <button id="openMenu" class="openMenu"><i class="fas fa-bars"></i></button>
            <div id ="navLinks" class="navLinks">
                <button id="closeNav"  class="muted-button closeNav"><i class="fas fa-times"></i></button>
                <ul>
                    <li class="option">
                        <button id="index" onclick="window.location=  'manager.html';"><i class="fas fa-home"></i>Home</button>
                    </li>
                    <li class="option">
                        <button id="tickets" onclick="window.location=  'showTotalCounts24H.html';"><i class="fas fa-download"></i> Report</button>
                    </li>
                    <li class="option">
                        <button id="tickets" onclick="window.location=  'showTotalCountsYear.html';"><i class="fas fa-download"></i> Report</button>
                    </li>
                    <li class="option">
                        <button onclick="window.location= 'resources/php/logout.html';"><i class="fas fa-sign-out-alt"></i>Logout</button>
                    </li>


                </ul>
            </div>
        </div>
    </header>

</body>
</html>