<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="utf-8" />
    <title>Defective information</title>
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="/Myweb/style/main.css" /> -->
    <style>
        canvas {
		-moz-user-select: none;
		-webkit-user-select: none;
		-ms-user-select: none;
	}
    </style>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css" integrity="sha384-KA6wR/X5RY4zFAHpv/CnoG2UW1uogYfdnP67Uv7eULvTveboZJg0qUpmJZb5VqzN" crossorigin="anonymous">
    <link rel="stylesheet", type="text/css" href="../../static/css/navbar.css">
    <link rel="stylesheet" type="text/css" href="../../static/css/chart.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

</head>
<body>
<header>
        <div id="nav" class="nav">
            <button id="openMenu" class="openMenu"><i class="fas fa-bars"></i></button>
            <div id ="navLinks" class="navLinks">
                <button id="closeNav"  class="muted-button closeNav"><i class="fas fa-times"></i></button>
                <ul>
                    <li class="option">
                        <button id="index" onclick="window.location=  '/manager';"><i class="fas fa-home"></i>Home</button>
                    </li>
                    <li class="option">
                        <button id="tickets" onclick="window.location=  '/showTotalCounts/24H';"><i class="fas fa-chart-area"></i> 24hrs</button>
                    </li>
                    <li class="option">
                        <button id="tickets" onclick="window.location=  '/showTotalCounts/year';"><i class="fas fa-chart-bar"></i> Years</button>
                    </li>
                   <li class="option">
                        <button id="tickets" onclick="window.location=  '/defectinfo';"><i class="fas fa-chart-line"></i> Defects</button>
                    </li>
                    <li class="option">
                        <button onclick="window.location= '/Logout/';"><i class="fas fa-sign-out-alt"></i>Logout</button>
                    </li>


                </ul>
            </div>
        </div>
    </header>
<div class="container">
  <div class="row">
    <div class="col">

      <h1>Report</h1>
      <hr>

      <div class="mb-3">

         <h4> You can add message here to report</h4>
         <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" id="message" cols="30" rows="3" placeholder="Your message"></textarea>
        </div>



        <div class="form-group">
            <h4> TOTAL COUNT WITH THREE PERIODS</h4>
				<p> This displays Bar Graph </p>
          <label>startTime</label>
          <input type="text" class="form-control" id="startTime" placeholder="yyyy-mm-dd">
        </div>

        <div class="form-group">
          <label>endTime</label>
          <input type="text" class="form-control" id="endTime"  placeholder="endTime">
        </div>

          <div class="form-group">
          <label>startTime1</label>
          <input type="text" class="form-control" id="startTime1" placeholder="startTime1">
        </div>

        <div class="form-group">
          <label>endTime1</label>
          <textarea class="form-control" id="endTime1"  placeholder="endTime1"></textarea>
        </div>

        <div class="form-group">
          <label>startTime2</label>
          <input type="text" class="form-control" id="startTime2" placeholder="startTime2">
        </div>

        <div class="endTime2">
          <label>endTime2</label>
          <textarea class="form-control" id="endTime2"  placeholder="endTime2"></textarea>
        </div>


        <h4> TOTAL COUNT WITH ONE PERIOD</h4>
          <p> This displays StackBar Graph </p>

        <label>startTime</label>
          <input type="text" class="form-control" id="startTime3" placeholder="startTime">
        </div>

        <div class="form-group">
          <label>endTime</label>
          <input type="text" class="form-control" id="endTime3"  placeholder="endTime">
        </div>

          <div class="form-group">
          <label>startTime1</label>
          <input type="text" class="form-control" id="startTime4" placeholder="startTime">
        </div>

        <div class="form-group">
          <label>endTime1</label>
          <textarea class="form-control" id="endTime4"  placeholder="endTime"></textarea>
        </div>

        <div class="form-group">
          <label>startTime2</label>
          <input type="text" class="form-control" id="startTime5" placeholder="startTime">
        </div>

        <div class="form-group">
          <label>endTime2</label>
          <textarea class="form-control" id="endTime5"  placeholder="endTime"></textarea>
        </div>

        <button class="btn btn-primary" id="button" onclick="submit_message();">Submit all</button>
      </div>



      <div class="mb-3" id="messages"></div>

    </div>
  </div>
</div>


<script>

function submit_message() {
    var mesg = document.getElementById("message");
    var startTime = document.getElementById("startTime");
    var endTime = document.getElementById("endTime");
    var startTime1 = document.getElementById("startTime1");
    var endTime1 = document.getElementById("endTime1");
    var startTime2 = document.getElementById("startTime2");
    var endTime2 = document.getElementById("endTime2");
    var startTime3 = document.getElementById("startTime3");
    var endTime3 = document.getElementById("endTime3");
    var startTime4 = document.getElementById("startTime4");
    var endTime4 = document.getElementById("endTime4");
    var startTime5 = document.getElementById("startTime5");
    var endTime5 = document.getElementById("endTime5");

    var date = {
      megs: mesg.value,
      startTime : startTime.value,
      endTime: endTime.value,
      startTime1 : startTime1.value,
      endTime1: endTime1.value,
      startTime2 : startTime2.value,
      endTime2: endTime2.value,
      startTime3 : startTime3.value,
      endTime3: endTime3.value,
      startTime4 : startTime4.value,
      endTime4: endTime4.value,
      startTime5 : startTime5.value,
      endTime5: endTime5.value,
    };
    console.log(date);
    fetch(' http://127.0.0.1:5000/manager/producereport', {
      method: "POST",
      credentials: "include",
      body: JSON.stringify(date),
      cache: "no-cache",
      headers: new Headers({
        "content-type": "application/json",
          'Accept': 'application/json'
      })
    })
      .catch(function (error) {
        console.log("Fetch error: " + error);
      })

  }
</script>
</body>
</html>