<div id="nav" class="nav">
    <button id="openMenu" class="openMenu"><i class="fas fa-bars"></i></button>
    <div id ="navLinks" class="navLinks">
        <button id="closeNav"  class="muted-button closeNav"><i class="fas fa-times"></i></button>
        <ul>
            <li class="option">
                <button id="index" onclick="window.location=  'index.html';"><i class="fas fa-home"></i>Home</button>
            </li>
            <li class="option">
                <button id="tickets" onclick="window.location=  'rent.html';"><i class="fas fa-bicycle"></i>rent</button>
            </li>
            <li class="option">
                <button id="profile" onclick="window.location= 'profile.html';"><i class="fas fa-user"></i>Profile</button>
            </li>
            <li class="option">
                <button onclick="window.location= 'resources/php/logout.php';"><i class="fas fa-sign-out-alt"></i>Logout</button>
            </li>


        </ul>
    </div>

</div>